@import url("colors.css");
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.d-flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.ml-15 {
  margin-left: 15px;
}
.phone-logo {
  width: 20px;
  padding: 10px;
  background-color: #989898;
}
/*Header*/
.header-container {
  width: 920px;
  margin: 0 auto;
  justify-content: space-evenly;
}
/*Menu*/
.menu li {
  display: inline-block;
}
.sub-menu {
  width: 155px;
}
.sub-menu h3 {
  margin-left: 1px;
  color: white;
  padding: 7px;
  background-color: var(--red-background);
}
.sub-menu-list {
  position: absolute;
  width: 153px;
  margin-top: 1px;
  display: none;
}
.sub-menu-list li a {
  text-decoration: none;
  color: white;
}
.sub-menu-list li {
  display: block;
  padding: 8px;
  background-color: var(--red-background);
  color: white;
}
